/* --------compass----------- */

@import "compass";
@import "socials/*.png";
@import "socials-dark/*.png";
@import "_misc/*.png";
@import "views/*.png";
@import "pagination/*.png";
// @import "stars/*.png";


/* --------normalize--------- */

// @import "_misc/normalize";

/* ----------mixinsv--------- */

@import "_misc/_mixins";
@import "_misc/_adjustment";
@import "_misc/_fonts";


/* ---------adjustment-------- */

@import "_misc/adjustment";

// ------common colors-----------

$black: #333333;
$orange: #ff6600;
$grey: #dee1e4;

// -------misc icons sprite----------

$misc-sprite: sprite-map('_misc/*.png', $spacing: 70px);

/* -----------section------------ */

@import "section/_header";
@import "section/_nav";
@import "section/_breadcrumbs";
@import "section/_content";
@import "section/_sidebar";
@import "section/_attension";
@import "section/_sort";
@import "section/_products";
@import "section/_pagination";
@import "section/_footer";
