.products__list {
	border: 1px solid $grey;
	@include border-radius(7px);
	overflow:hidden;
	background: #fff;
	list-style: none;
	padding: 0;
}

.products__item {
	border-top: 1px solid $grey;
	&:first-child {
		border-top: 0 none;
	}
	&:hover {
		box-shadow: 0px 2px 7px rgba(0,0,0,.3);
	}
}

.products__item-inner {
	padding: 19px 22px;
	@include clearfix;
	position: relative;
}

.products__left {
	float: left;
}

.products__slideshow {
	width: 140px;
	float: left;
}

.products__slideshow-block {
		margin-bottom: 14px;
}

.products__slideshow-display {
	width: 134px;
	height: 134px;
	border: 1px solid $grey;
	position: relative;
	display: block;
	margin-bottom: 14px;
	@include border-radius(3px);
}

.products__slideshow-img {
	display: block;
	max-width: 95%;
	max-height: 95%;
	@include absolute-center;
}

.products__slideshow-thumbs {
	@include clearfix;
	margin-left: -56px;
	list-style: none;

}

.products__slideshow-thumb-img{
	display: inline-block;
}

.products__slideshow-item {
	margin-left: 15px;
	float: left;

	&.active {
		.products__slideshow-link {
			border-color: $orange;
		}
	}
}

.products__slideshow-link {
	@extend .products__slideshow-display;
	width: 34px;
	height: 34px;
	@include border-radius(3px);
	margin-bottom: 0;
	outline: none !important;

	&:hover {
		border-color: $orange;
	}
}

.products__slideshow-thumb-img {
	display: block;
	max-width: 95%;
	max-height: 95%;
	@include absolute-center;
}

.products__article {
	text-align: center;
}

.products__article-word {
	@include inlineblock(middle);
	font-size: 12px;
	line-height: 16px;
	color: #7f7f7f;
	// @include open-sans(bold);
}

.products__article-num {
	@include inlineblock(middle);
	font-size: 14px;
	line-height: 16px;
	color: $black;
	// @include open-sans(semibold);
}

// ---------------discription------------------

.products__desc {
	float: left;
	width: 380px;
	margin-left: 21px;
}

.products__desc-title {
	font-size: 16px;
	line-height: 18px;
	@include open-sans(semibold);
	color: #010101;
	margin-bottom: 20px;
	padding-top: 7px;
}

.products__desc-options {
	list-style: none;
	margin-bottom: 3px;
	padding: 0;
	@include open-sans(regular);
}

.products__option-item {
	background: transparent;
	display: inline;
}

.products__option-item {
	display: inline;
}

.products__option-key {
	display: inline;
	font-size: 14px;
	line-height: 16px;
	padding: 4px 0 ;
	@include open-sans(regular);
}

.products__option-value {
	display: inline;
	font-size: 14px;
	line-height: 16px;
	padding: 4px 0 ;
}

//----------------- rating ---------------

.products__rating-stars {
	@include inlineblock(middle);
	list-style: none;
	padding: 0;
}

$stars-map: sprite-map('stars/*.png',  $spacing: 20px);

.products__rating-stars-item {
	@include inlineblock(middle);
	@include get-sprite($stars-map, no-fill);

	&.products__rating-stars-item_fill {
		@include get-sprite($stars-map, fill);
	}
}

.products__rating-amount {
	@include inlineblock(middle);
	color: #fbfbfb;
	font-size: 12px;
	line-height: 15px;
	width: 30px;
	background: #b5beca;
	@include border-radius(20px);
	margin-left: 8px;
	text-align: center;
	@include open-sans(semibold);
	margin-top: 4px;
}

.products__right {
	position: absolute;
	top: 23px;
	bottom: 23px;
	right: 23px;
	width: 123px;
	text-align: right;
}

.products__info {
	padding-left: 25px;
	border-left: 1px solid $grey;
	height: 100%;
	margin-bottom: 10px;
}

.products__info-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.products__buy-btn {
	@include inlineblock();
	text-decoration: none;
	padding: 9px 12px;
	@include open-sans(bold);
	@include border-radius(4px);
	background: $orange;
	color: #fff;
	margin-bottom: 9px;

	&:hover{
		background: darken($orange, 5%);
	}
}

.products__price {
	color: $black;
	font-size: 20px;
	line-height: 14px;
	@include open-sans(semibold);
	margin-bottom: 10px;
	padding-top: 12px;
}

.products__availability {
	// @include opan-sans(bold);
	font-size: 12px;
	line-height: 14px;
	color: #7f7f7f;

	&:before {
		content: '';
		width: 7px;
		height: 7px;
		@include border-radius(50%);
		background: #60ac49;
		@include inlineblock(middle);
		margin-right: 8px;
	}
}

// ================ other views ===============

@import "_views/_grid-views";
@import "_views/_line-views";
