# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.sass-cache
.idea
*.iml
node_modules
app/bower
dist

desktop.ini
out
gen
