@font-face {
  font-family: regular;
  src: url(font/webfontkit-regular/opensans-regular.eot);
  src: url(font/webfontkit-regular/opensans-regular.ttf);
  src: url(font/webfontkit-regular/opensans-regular.woff);
  src: url(font/webfontkit-regular/opensans-regular.woff2);
}
@font-face {
  font-family: semibold;
  src: url(font/webfontkit-semibold/opensans-semibold.ttf);
  src: url(font/webfontkit-semibold/opensans-semibold.eot);
  src: url(font/webfontkit-semibold/opensans-semibold.woff);
  src: url(font/webfontkit-semibold/opensans-semibold.woff2);
}
body {
  background: #f4f4f4;
}

.container {
  width: 1100px;
  margin: auto;
}

.header_contact {
  height: 77px;
  background: #fff;
}
.header_contact .container {
  width: 1100px;
  margin: auto;
}

.location_main {
  float: left;
  margin-top: 30px;
  margin-left: 637px;
  background: url(/img/map-pin.png) no-repeat;
}
.location_main .location_main-text {
  font-size: 14px;
  color: #7b7b7b;
  margin-left: 20px;
  font-family: regular;
}

.phon_main {
  float: right;
  background: url(/img/telephone.png) no-repeat;
  margin-top: 30px;
}
.phon_main .phon_main-text {
  font-size: 18px;
  margin-left: 20px;
}

.header_search {
  background: #f4f4f4;
  height: 96px;
}

.logo_main {
  display: inline-block;
}

.search_main {
  display: inline-block;
  margin-left: 58px;
  padding-top: 40px;
}
.search_main .search_main-input {
  width: 290px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.search_menu {
  display: inline-block;
  float: right;
  margin-top: 38px;
}
.search_menu .search_menu-item {
  display: inline-block;
}
.search_menu .search_menu-link {
  margin-left: 30px;
  color: #333333;
  font-family: semibold;
}
.search_menu .search_menu-link:hover {
  color: #ff6600;
}

.navigation_main {
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: 52px;
}
.navigation_main .navigation_main-list {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.navigation_main .navigation_main-item {
  display: inline-block;
  margin-top: 21px;
}
.navigation_main .navigation_main-link {
  text-decoration: none;
  color: #7b7b7b;
  margin-left: -5px;
  padding: 16px 14px;
}

.acordeon {
  float: left;
}
.acordeon .acordeon_styl {
  width: 333px;
  background: #fbfbfb;
  border-radius: 5px;
}
.acordeon .acordeon_styl .acordeon_styl-position {
  padding-left: 30px;
}
.acordeon .acordeon_styl .filtr_availability {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_availability .filtr_availability-elem {
  margin-bottom: 19px;
}
.acordeon .acordeon_styl .filtr_availability .acordeon_styl-header {
  font-size: 16px;
  color: #333333;
  padding-top: 17px;
}
.acordeon .acordeon_styl .filtr_brands {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_brands .filtr_brands-elem {
  margin-bottom: 19px;
}
.acordeon .acordeon_styl .filtr_brands .filtr_remove {
  color: #90c7fc;
}
.acordeon .acordeon_styl .filtr_brands .filtr_remove:hover {
  color: #2d95f9;
}
.acordeon .acordeon_styl .filtr_money {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_money .filtr_money-position-left {
  float: left;
}
.acordeon .acordeon_styl .filtr_money .filtr_money-position-right {
  float: right;
  margin-right: 30px;
}
.acordeon .acordeon_styl .filtr_money .filtr_money-input {
  width: 82px;
  margin-left: 10px;
  border-radius: 5px;
}
.acordeon .acordeon_styl .filtr_color {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-item {
  display: inline-block;
  margin-bottom: 24px;
  margin-right: 24px;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list {
  list-style: none;
  padding: 0px;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-white {
  width: 37px;
  height: 37px;
  background: #fff;
  border: 1px solid #ddd;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-gray {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #cccccc;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-black {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: black;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-blue {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #0a3153;
}
.acordeon .acordeon_styl .filter_oc .filter_oc-elem {
  margin-bottom: 19px;
}
.acordeon .acordeon_styl .filter_oc .filter_oc-link {
  color: #90c7fc;
}
.acordeon .acordeon_styl .filter_oc .filter_oc-link:hover {
  color: #2d95f9;
}

.acordeon_styl-header {
  font-size: 16px;
  color: #333333;
  padding-top: 17px;
}

.filtr-text {
  margin-left: 11px;
}

#slider {
  width: 280px;
  height: 3px;
  border: none;
  background: #ddd;
}

.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 20px;
  background: #fff;
}
