.acordion_m {
  padding: 0;
  margin: 0;
  list-style: none;
}
.acordion_m:hover {
  background: url("/img/slider_up.png") no-repeat;
  background-position: right 20px top 35px;
  cursor: pointer;
}
.acordion_m .acordion_m-list {
  display: inline-block;
}
.acordion_m .acordion_m-list .acordion_m-input:checked + .acordion_m-label:before {
  border: solid 4px #f60;
}
.acordion_m .acordion_m-list .acordion_m-input:checked + .acordion_m-label:after {
  transform: scale(0.9);
  transition: 0.2s;
}
.acordion_m .acordion_m-list .acordion_m-label {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.acordion_m .acordion_m-list .acordion_m-label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: solid 3px #dee2e5;
}
.acordion_m .acordion_m-list .acordion_m-label .acordion_m-label:hover {
  border: 3px solid #ff6600;
  transition: 0.3s;
}
.acordion_m .acordion_m-list .acordion_m-label:after {
  transform: scale(0);
  position: absolute;
  top: 7px;
  left: 7px;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f60;
}

.filtr_brands {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filtr_brands .filtr_brands-elem .acordeon_styl-checkbox-round:checked + .filtr-text:before {
  border: solid 3px #f60;
  background: #f60;
}
.filtr_brands .filtr_brands-elem .acordeon_styl-checkbox-round:checked + .filtr-text:after {
  transform: scale(0.99);
  transition: 0.2s;
}
.filtr_brands .filtr_brands-elem .filtr-text:hover:after {
  background: url("/img/check_2222.png");
}
.filtr_brands .filtr_brands-elem .filtr-text {
  display: block;
  position: relative;
  padding-left: 35px;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.filtr_brands .filtr_brands-elem .filtr-text:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 16px;
  height: 16px;
  border: solid 3px #dee2e5;
  border-radius: 5px;
}
.filtr_brands .filtr_brands-elem .filtr-text:after {
  transform: scale(0);
  position: absolute;
  top: 7px;
  left: 5px;
  content: '';
  width: 13px;
  height: 10px;
  background: url("/img/check_1111.png");
}
.filtr_brands .filtr_brands-elem .filtr-text:hover:after {
  transform: scale(0);
  position: absolute;
  top: 7px;
  left: 5px;
  content: '';
  width: 13px;
  height: 10px;
  background: url("/img/check_2222.png");
}

.icons-sprite, .header_contact .container .social_icon .social_icon-vk, .icon_social .icon_social-list .icon_social-el .icon_social-f {
  background-image: url('../img/icons-s8b9d252fd4.png');
  background-repeat: no-repeat;
}

html, body, .wrapper {
  height: 100%;
}

body > .wrapper {
  height: auto;
  min-height: 100%;
  min-width: 1100px;
}

.wrapper {
  min-height: 100%;
}

.footer_main {
  position: relative;
  background: url(/img/Rectangle.png) center;
  height: 221px;
  min-width: 1100px;
  clear: both;
}

/*=====================CLEARFIX===========================*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

@font-face {
  font-family: regular;
  src: url(font/webfontkit-regular/opensans-regular.eot);
  src: url(font/webfontkit-regular/opensans-regular.ttf);
  src: url(font/webfontkit-regular/opensans-regular.woff);
}
@font-face {
  font-family: semibold;
  src: url(font/webfontkit-semibold/opensans-semibold.ttf);
  src: url(font/webfontkit-semibold/opensans-semibold.eot);
  src: url(font/webfontkit-semibold/opensans-semibold.woff);
}
body {
  background: #f4f4f4;
}

.container {
  width: 1100px;
  margin: auto;
}

.header_contact {
  height: 77px;
  background: #fff;
}
.header_contact .container {
  width: 1100px;
  margin: auto;
}
.header_contact .container .social_icon {
  float: left;
}
.header_contact .container .social_icon .social_icon-vk {
  background-position: 0 -138px;
}

.location_main {
  float: left;
  margin-top: 30px;
  margin-left: 637px;
  background: url(/img/map-pin.png) no-repeat;
}
.location_main .location_main-text {
  font-size: 14px;
  color: #7b7b7b;
  margin-left: 20px;
  font-family: regular;
}

.phon_main {
  float: right;
  background: url(/img/telephone.png) no-repeat;
  margin-top: 30px;
}
.phon_main .phon_main-text {
  font-size: 18px;
  margin-left: 20px;
}

.header_search {
  background: #f4f4f4;
  height: 96px;
}

.logo_main {
  display: inline-block;
  float: left;
  padding-top: 30px;
}

.search_main {
  display: inline-block;
  margin-left: 58px;
  padding-top: 30px;
}
.search_main .search_main-input {
  width: 272px;
  height: 35px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background: #fbfbfb;
  color: #878787;
  padding-left: 18px;
}
.search_main .search_main-submit {
  border: none;
  padding: 10px 16px;
  margin-left: -20px;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  background: #ff6600;
}

.search_menu {
  display: inline-block;
  float: right;
  margin-top: 38px;
}
.search_menu .search_menu-item {
  display: inline-block;
}
.search_menu .search_menu-link {
  margin-left: 30px;
  color: #333333;
  font-family: semibold;
}
.search_menu .search_menu-link:hover {
  color: #ff6600;
}

.navigation_main {
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: 52px;
}
.navigation_main .navigation_main-list {
  list-style: none;
  float: right;
  padding: 0px;
  margin: 0px;
}
.navigation_main .navigation_main-item {
  display: inline-block;
  margin-top: 17px;
}
.navigation_main .navigation_main-link {
  text-decoration: none;
  color: #7b7b7b;
  margin-left: -5px;
  padding: 17px 13px;
  padding-bottom: 18px;
  font-size: 16px;
  transition: 0.5s;
}
.navigation_main .navigation_main-link:hover {
  background: #e4e2e2;
  transition: 0.5s;
}
.navigation_main .navigation_main-active {
  background: #ff6600;
  color: #fff;
}

.acordeon {
  float: left;
}
.acordeon .acordeon_styl {
  width: 333px;
  background: #fbfbfb;
  border-radius: 5px;
}
.acordeon .acordeon_styl .acordeon_styl-position {
  padding-left: 30px;
}
.acordeon .acordeon_styl .filtr_availability {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_availability .filtr_availability-list {
  list-style: none;
  padding: 0;
}
.acordeon .acordeon_styl .filtr_availability .filtr_availability-list .filtr_availability-elem {
  margin-bottom: 19px;
  position: relative;
  cursor: pointer;
}
.acordeon .acordeon_styl .filtr_availability .filtr_availability-list .filtr_availability-elem .acordeon_styl-checkbox-round {
  display: none;
}
.acordeon .acordeon_styl .filtr_availability .acordeon_styl-header {
  font-size: 16px;
  color: #333333;
  padding-top: 17px;
}
.acordeon .acordeon_styl .filtr_brands {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_brands .filtr_brands-elem {
  margin-bottom: 19px;
}
.acordeon .acordeon_styl .filtr_brands .filtr_remove {
  color: #90c7fc;
}
.acordeon .acordeon_styl .filtr_brands .filtr_remove:hover {
  color: #2d95f9;
}
.acordeon .acordeon_styl .filtr_money {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_money .filtr_money-position-left {
  float: left;
}
.acordeon .acordeon_styl .filtr_money .filtr_money-position-right {
  float: right;
  margin-right: 30px;
}
.acordeon .acordeon_styl .filtr_money .filtr_money-position-range {
  margin-top: 60px;
}
.acordeon .acordeon_styl .filtr_money .filtr_money-input {
  width: 82px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.acordeon .acordeon_styl .filtr_color {
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-item {
  display: inline-block;
  margin-bottom: 24px;
  margin-right: 24px;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list {
  list-style: none;
  padding: 0px;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-white {
  width: 37px;
  height: 37px;
  background: #fff;
  border: 1px solid #ddd;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-gray {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #cccccc;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-black {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: black;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-blue {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #0a3153;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-red {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: red;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-yellow {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: yellow;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-orange {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #fb914a;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-green {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #92c37c;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-blueLight {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #40a6ff;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-purple {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #9870ad;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-pink {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #dc78ad;
}
.acordeon .acordeon_styl .filtr_color .filtr_color-list .filtr_color-item-brown {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: #7f401d;
}
.acordeon .acordeon_styl .filter_oc .filter_oc-elem {
  margin-bottom: 19px;
}
.acordeon .acordeon_styl .filter_oc .filter_oc-link {
  color: #90c7fc;
}
.acordeon .acordeon_styl .filter_oc .filter_oc-link:hover {
  color: #2d95f9;
}

.acordeon_styl-header {
  font-size: 16px;
  color: #333333;
  padding-top: 17px;
}

.filtr-text {
  margin-left: 11px;
}

#slider {
  width: 280px;
  height: 3px;
  border: none;
  background: #ddd;
}

.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 20px;
  background: #fff;
}

.ui-slider .ui-slider-range {
  background: #ff6600;
}

.ui-slider-handle .ui-state-default .ui-corner-all {
  top: 0px;
  border: none;
  background: url(/site/app/img/slider.png) no-repeat;
}

.navigation_element {
  float: right;
  width: 744px;
  height: 53px;
  background: #e4ebee;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 21px;
}
.navigation_element .navigation_element-span {
  display: inline-block;
  float: left;
  margin-top: 19px;
  margin-left: 23px;
  color: #5d656c;
}
.navigation_element .navigation_element-block {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  width: 142px;
  margin-left: 20px;
  margin-top: 15px;
  cursor: pointer;
}
.navigation_element .navigation_element-block .navigation_element-list {
  margin: 0;
  padding: 0;
  color: #5d656c;
  list-style: none;
}
.navigation_element .navigation_element-block .navigation_element-list .navigation_element-elem {
  border: 1px solid #dddddd;
  padding: 3px 15px;
  border-radius: 3px;
  background: url(/img/tri.png) no-repeat;
  background-color: #fff;
  background-position: 120px 8px;
}
.navigation_element .navigation_element-block .navigation_element-list .navigation_element-elem-2 {
  display: block;
  border: 1px solid #fff;
  display: none;
}
.navigation_element .navigation_element-block-2 {
  float: right;
  margin-top: 19px;
  width: 267px;
}
.navigation_element .navigation_element-block-2 .navigation_element-span-2 {
  color: #5d656c;
  float: left;
}
.navigation_element .navigation_element-block-2 .navigation_element-list2 {
  margin: 0px;
  padding: 0px;
  float: right;
}
.navigation_element .navigation_element-block-2 .navigation_element-list2 .navigation_element-el {
  display: inline-block;
}
.navigation_element .navigation_element-block-2 .navigation_element-list2 .navigation_element-elem-box1 {
  list-style-image: url(/img/list.png);
  background-position: 130px 0px;
}
.navigation_element .navigation_element-block-2 .navigation_element-list2 .navigation_element-elem-box2 {
  list-style-image: url(/img/list-1.png);
  background-position: 130px 0px;
}
.navigation_element .navigation_element-block-2 .navigation_element-list2 .navigation_element-elem-box3 {
  list-style-image: url(/img/list-2.png);
  background-position: 130px 0px;
}

.main_elements {
  float: right;
  width: 743px;
}
.main_elements .main_elements-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 68px;
}
.main_elements .main_elements-list .main_elements-item {
  display: inline-block;
  width: 234px;
  background: #fbfbfb;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 8px;
  transition: 0.3s;
}
.main_elements .main_elements-list .main_elements-item:hover {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.main_elements .main_elements-list .main_elements-item .main_elements-wrapper {
  margin: 20px auto;
  padding: 10px 30px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  width: 93px;
  height: 123px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-wrapper-block {
  display: block;
  margin-left: 20px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-wrapper-block .main_elements-miniwapper {
  display: inline-block;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  padding: 2px 8px;
  margin-left: 18px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info {
  margin: auto 10px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-header {
  text-align: center;
  font-size: 16px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-body {
  background: #e6e6e6;
  list-style: none;
  padding: 0;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-body .main_elements-text {
  font-size: 14px;
  color: #555555;
  padding: 2px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-body .main_elements-text:nth-child(2n) {
  background: #fbfbfb;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-body .main_elements-text:nth-child(2n) .main_elements-items {
  float: right;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .rating {
  list-style: none;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-money {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-indAndBasket {
  text-align: center;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-indAndBasket .main_elements-ind {
  float: left;
  font-size: 12px;
  color: #7b7b7b;
  margin-top: 10px;
  margin-left: 37px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-indAndBasket .main_elements-ind::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #60ac49;
  margin-left: -20px;
  margin-top: 1px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-indAndBasket .main_elements-basket {
  float: right;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #ff6600;
  padding: 11px 15px;
  font-size: 14px;
  margin-bottom: 20px;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-indAndBasket .main_elements-basket:focus {
  outline: none;
}
.main_elements .main_elements-list .main_elements-item .main_elements-block-info .main_elements-indAndBasket .main_elements-basket:hover {
  background: #cc5200;
}

.main_switch {
  float: right;
}
.main_switch .switch_main {
  width: 200px;
}
.main_switch .switch_main .switch_main-list {
  list-style: none;
  display: block;
  padding: 0;
}
.main_switch .switch_main .switch_main-list .switch_main-item {
  display: inline-block;
}
.main_switch .switch_main .switch_main-list .switch_main-item .switch_main-link {
  text-decoration: none;
  color: #7f7f7f;
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  padding: 3px 7px;
  font-size: 14px;
}
.main_switch .switch_main .switch_main-list .switch_main-item .switch_main-link:hover {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
}
.main_switch .switch_main .switch_main-list .switch_main-item .switch_main-active {
  background: #e0e0e0;
}

.main_info-header {
  font-size: 20px;
  color: #333333;
  padding-left: 40px;
}

.main_info-left {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 40px;
  margin-bottom: 34px;
}

.main_info-right {
  float: right;
  width: 50%;
}

.main_info-p {
  text-align: justify;
  font-size: 14px;
  color: #686868;
  text-indent: 25px;
}

.logo_footer {
  float: left;
  padding-top: 72px;
}
.logo_footer .logo_footer-link {
  display: block;
}

.footer_main-right-column {
  float: right;
  width: 560px;
  text-align: right;
}
.footer_main-right-column .navigation_footer {
  display: block;
}
.footer_main-right-column .navigation_footer .navigation_footer-list {
  margin: 0;
}
.footer_main-right-column .navigation_footer .navigation_footer-list .navigation_footer-el {
  display: inline-block;
}
.footer_main-right-column .navigation_footer .navigation_footer-list .navigation_footer-el .navigation_footer-link {
  color: #fff;
  display: block;
  margin-left: 0px;
}

.icon_social .icon_social-list .icon_social-el .icon_social-f {
  background-position: 0 -138px;
}
