.acordion_m{
	padding: 0;
	margin: 0;
	list-style: none;
	padding-bottom: 20px;
	border-bottom: 2px solid #f4f4f4;
	&:hover{
		background: url("/img/slider_up.png") no-repeat;
		background-position: right 20px top 35px;
		cursor:pointer;
	}
	.acordion_m-list{
		display: inline-block;
		// display: none;
		.acordion_m-input{
			// display: none;
		}
		.acordion_m-input:checked+.acordion_m-label:before{
			border: solid 4px #f60;
		}
		.acordion_m-input:checked +.acordion_m-label:after{
			    transform: scale(0.9);
			    transition:0.2s;
		}
		.acordion_m-label{
			display: block;
		    position: relative;
		    margin-bottom: 20px;
		    padding-left: 35px;
		    color: #303030;
		    font-size: 14px;
		    font-weight: 400;
		    cursor: pointer;
		    &:before{
		    	position: absolute;
			    top: 0;
			    left: 0;
			    content: '';
			    border-radius: 50%;
			    width: 16px;
			    height: 16px;
			    border: solid 3px #dee2e5;
		    }
		    .acordion_m-label:hover{
		    	border: 3px solid #ff6600;
				transition: 0.3s;
		    }
		    &:after {
		    	    transform: scale(0);
				    position: absolute;
				    top: 7px;
				    left: 7px;
				    content: '';
				    width: 10px;
				    height: 10px;
				    border-radius: 50%;
				    background-color: #f60;
		    }
		}
	}
}

.filtr_brands{
	padding: 0;
	margin: 0;
	list-style: none;
	&:hover{
		background: url("/img/slider_up.png") no-repeat;
		background-position: right 20px top 35px;
		cursor:pointer;
	}
	.filtr_brands-elem{
		.acordeon_styl-checkbox-round:checked + .filtr-text:before{
			border: solid 3px #f60;
			background: #f60;
		}
		.acordeon_styl-checkbox-round:checked + .filtr-text:after{
			 transform: scale(0.99);
		     transition:0.2s;
		}
		.filtr-text:hover:after{
			background: url("/img/check_2222.png")
		}
		.filtr-text{
			display: block;
		    position: relative;
		    padding-left: 35px;
		    padding-bottom: 15px;
		    color: #303030;
		    font-size: 14px;
		    font-weight: 400;
		    cursor: pointer;
		    &:before{
		    	position: absolute;
			    top: 0;
			    left: 0;
			    content: '';
			    width: 16px;
			    height: 16px;
			    border: solid 3px #dee2e5;
			    border-radius: 5px;
		    }
		     &:after {
		    	    transform: scale(0);
				    position: absolute;
				    top: 7px;
				    left: 5px;
				    content: '';
				    width: 13px;
				    height: 10px;
				    background: url("/img/check_1111.png")
		    }
		    &:hover:after{
		    		transform: scale(0);
				    position: absolute;
				    top: 7px;
				    left: 5px;
				    content: '';
				    width: 13px;
				    height: 10px;
				    background: url("/img/check_2222.png")
		    }
		}
	}
}

.filtr_money{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	.acordeon_styl-header{
		cursor: pointer;
	}
	.filtr_money-input{
		text-indent: 15px;
	}
		.ui-state-default{
		background: url("/img/slider.png") no-repeat;
		position: absolute;
		z-index: 2;
		width: 13px;
		height: 20px;
		}
		.ui-slider-range{
			 background: #ff6600;
			 height: 3px;
    		 position: absolute;
		}
}

#slider {
	width:280px;
	height: 3px;
	border: none;
	background: #ddd;	
}

.filter_oc{
	list-style: none;
	padding: 0;
	&:hover{
		background: url("/img/slider_up.png") no-repeat;
		background-position: right 20px top 35px;
		cursor:pointer;
	}
	.filter_oc-elem{
		.acordeon_styl-checkbox-round:checked + .filtr-text:before{
			border: solid 3px #f60;
			background: #f60;
		}
		.acordeon_styl-checkbox-round:checked + .filtr-text:after{
			 transform: scale(0.99);
		     transition:0.2s;
		}
		.filtr-text:hover:after{
			background: url("/img/check_2222.png")
		}
		.filtr-text{
			display: block;
		    position: relative;
		    padding-left: 35px;
		    color: #303030;
		    font-size: 14px;
		    font-weight: 400;
		    cursor: pointer;
		    &:before{
		    	position: absolute;
			    top: 0;
			    left: 0;
			    content: '';
			    width: 16px;
			    height: 16px;
			    border: solid 3px #dee2e5;
			    border-radius: 5px;
		    }
		     &:after {
		    	    transform: scale(0);
				    position: absolute;
				    top: 7px;
				    left: 5px;
				    content: '';
				    width: 13px;
				    height: 10px;
				    background: url("/img/check_1111.png")
		    }
		    &:hover:after{
		    		transform: scale(0);
				    position: absolute;
				    top: 7px;
				    left: 5px;
				    content: '';
				    width: 13px;
				    height: 10px;
				    background: url("/img/check_2222.png")
		    }
		}
	}
}

.acordeon_styl-header{
		cursor: pointer;
		margin: 0;
}